{#{% extends 'base.html.twig' %}#}

{% block stylesheets %}
    <link rel="stylesheet" href="/imgNotes/lib/imgNotes.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" media="screen">


    <link href="/filedash/fonts/css2.css" rel="stylesheet">
    <!-- App css -->
    <link rel="stylesheet" href="/filedash/assets/css/app.min.css" type="text/css">
    <link rel="stylesheet" href="/filedash/vendors/bundle.css" type="text/css">

    <link href="/theme/css/font-face.css" rel="stylesheet" media="all">
    <link href="/theme/css/theme.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/theme/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


    <link rel="stylesheet" href="/filedash/vendors/bundle.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/filedash/vendors/quill/quill.snow.css" rel="stylesheet" type="text/css">
    <link href="/filedash/vendors/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/filedash/vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">
    <link rel="stylesheet" href="/filedash/vendors/datepicker/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="/filedash/vendors/dataTable/datatables.min.css" type="text/css">
    <link rel="stylesheet" href="/filedash/vendors/select2/css/select2.min.css" type="text/css">
{% endblock %}

{% block body %}
    {% include 'sidebar.html.twig' %}
    <div class="page-container">
        {% include 'header.html.twig' %}

        <div class="main-content">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-9 btn-group">
                        <a href="{{ path('folder_show',{'id': image.folder.id}) }}"
                           style="padding-right: 25px;padding-top: 7px; ">
                            <i class="fa fa-chevron-left fa-2x dark"></i>
                        </a>
                        <h1>Détail d'image</h1>
                    </div>
                    <div class="col-md-2 text-right">
                        {% if is_granted('ROLE_CLIENT') %}
                            <button id="toggleEdit" class="btn btn-warning btn-lg">Edit</button>
                        {% endif %}
                    </div>
                </div><br><br>
                <div class="row">
                    <div class="col-md-8">
                        <img id="image" src="{{ asset('/folders/images/'~ image.imageName) }}" width="90%"
                             height="60%"/><br/>
                    </div>

                    <div class="col-md-4">
                        {% for c in comts %}
                            <div class="card">
                                <div class="card-body">
                                    <h5>
                                        <i class="fa fa-map-marker text-left" style="padding: 0 auto">
                                            #{{ loop.index }}</i>
                                        {{ c.note }}
                                    </h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}

    {# add comment #}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/imgNotes/lib/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/imgNotes/lib/hammer.min.js"></script>
    <script type="text/javascript" src="/imgNotes/lib/jquery.hammer.js"></script>
    <script type="text/javascript" src="/imgNotes/lib/imgViewer.js"></script>
    <script type="text/javascript" src="/imgNotes/lib/imgNotes.js"></script>
    <script type="text/javascript">
        (function ($) {
            $('.marker').children('img').attr("src", "./imgNotes/lib/images/marker_black.png'");
            var notes = {{ comments | raw }}
            var comments = {{ comments | raw }};
            console.log(comments);
            $(window).load(function () {

                var $img = $("#image").imgNotes({
                    onEdit: function (ev, elem) {
                        var $elem = $(elem);
                        $('#NoteDialog').remove();
                        console.log('elem : ', elem);
                        return $('<div id="NoteDialog"></div>').dialog({
                            title: "Note Editor",
                            resizable: false,
                            modal: true,
                            height: "300",
                            width: "450",
                            position: {my: "left bottom", at: "right top", of: elem},
                            buttons: {
                                "Save": function () {
                                    var txt = $('textarea', this).val();
                                    $.ajax({
                                        type: "post",
                                        url: '{{ path('add_comment_ajax', {'id': image.id}) }}',
                                        data: {
                                            "note": txt,
                                            "x": $elem.data("note").x,
                                            "y": $elem.data("note").y,
                                        },
                                        error: function (response) {
                                            console.log("err", response);
                                        },
                                        success: function (response) {
                                            console.log("success", response);
                                        }
                                    });
                                    $elem.data("note").note = txt;
                                    $(this).dialog("close");
                                },
                                "Delete": function () {
                                    console.log($elem.data("note"));
                                    $.ajax({
                                        type: "post",
                                        url: '{{ path('delete_comment_ajax') }}',
                                        data: {
                                            "id": $elem.data('note').id,
                                        },
                                    });
                                    $elem.trigger("remove");
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            },
                            open: function () {
                                $(this).css("overflow", "hidden");
                                var textarea = $('<textarea id="txt" style="height:100%; width:100%;">');
                                $(this).html(textarea);
                                textarea.val($elem.data("note").note);
                            }
                        });
                    }
                });

                $img.imgNotes("import", notes);

                var $toggle = $("#toggleEdit");
                if ($img.imgNotes("option", "canEdit")) {
                    $toggle.text("View");
                } else {
                    $toggle.text("Edit");
                }
                $toggle.on("click", function () {
                    var $this = $(this);
                    if ($this.text() == "Edit") {
                        console.log(comments);
                        $this.text("View");
                        $img.imgNotes("option", "canEdit", true);
                    } else {
                        $this.text('Edit');
                        $img.imgNotes('option', 'canEdit', false);
                    }
                });

                var $export = $("#export");
                $export.on("click", function () {
                    var $table = $("<table/>").addClass("gridtable");
                    var notes = $img.imgNotes('export');
                    $table.append("<th>X</th><th>Y</th><th>NOTE</th>");
                    $.each(notes, function (index, item) {
                        $table.append("<tr><td>" + item.x + "</td><td>" + item.y + "</td><td>" + item.note + "</td></tr>");
                    });
                    $('#txt').html($table);
                });

                var $clear = $("#clear");
                $clear.on("click", function () {
                    $img.imgNotes('clear');
                });

                var $toggleZ = $("#toggleZoom");
                if ($img.imgNotes("option", "zoomable"))
                    $toggleZ.text("Zoom Off");
                else
                    $toggleZ.text("Zoom On");

                $toggleZ.on("click", function () {
                    var $this = $(this);
                    if ($this.text() == "Zoom On") {
                        $this.text("Zoom Off");
                        $img.imgNotes("option", "zoomable", true);
                    } else {
                        $this.text("Zoom On");
                        $img.imgNotes("option", "zoomable", false);
                    }
                });

                var $toggleD = $("#toggleDrag");
                if ($img.imgNotes("option", "dragable"))
                    $toggleD.text("Drag Off");
                else
                    $toggleD.text("Drag On");

                $toggleD.on("click", function () {
                    var $this = $(this);
                    if ($this.text() == "Drag On") {
                        $this.text("Drag Off");
                        $img.imgNotes("option", "dragable", true);
                    } else {
                        $this.text("Drag On");
                        $img.imgNotes("option", "dragable", false);
                    }
                });

            });
        })(jQuery);
    </script>
{% endblock %}