{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}
{% block stylesheets %}
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: source sans pro;
        }

        h3 {
            font-weight: 400;
            font-size: 16px;
        }

        p {
            font-size: 12px;
            color: #888;
        }

        .stage {
            max-width: 90%;
            margin: 3% 5%;
            position: relative;
        }

        .tile {
            border-radius: 3px;
            width: calc(20% - 17px);
            margin-bottom: 23px;
            text-align: center;
            border: 1px solid #eeeeee;
            transition: 0.2s all cubic-bezier(0.4, 0.0, 0.2, 1);
            position: relative;
            padding: 35px 16px 25px;
            margin-right: 17px;
            cursor: pointer;
            background-color: #ffffffbd;
        }

        .tile:hover {
            /*box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.12);*/
        }

        .tile i {
            color: #00A8FF !important;
            height: 55px;
            margin-bottom: 20px;
            font-size: 55px;
            display: block;
            line-height: 54px;
            cursor: pointer;
        }

        .tile i.fa-image {
            color: #8fd9ff !important;
        }

        .back {
            font-size: 26px;
            border-radius: 50px;
            background: #00a8ff;
            border: 0;
            color: white;
            width: 60px;
            height: 60px;
            margin: 20px 20px 0;
            outline: none;
            cursor: pointer;
        }

    </style>
    <link rel="stylesheet" href="/lightbox/dist/css/lightbox.min.css">

    <style>
        .example-image {
            max-width: 100%
        }
        .imagesPreview {
            height: 100px;
            padding: 10px;
        }
        a.folder:hover {
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7 btn-group">
            {% if not folder.parent %}
                <a href="{{ path('project_show',{'id': folder.project.id}) }}"
                   style="padding-right: 25px;padding-top: 7px; ">
                    <i class="fa fa-chevron-left fa-2x dark"></i>
                </a>
            {% else %}
                <a href="{{ path('folder_show',{'id': folder.parent.id}) }}"
                   style="padding-right: 25px;padding-top: 7px; ">
                    <i class="fa fa-chevron-left fa-2x dark"></i>
                </a>
            {% endif %}
            <h1>Folder : {{ folder.name }}</h1>
        </div>
        {% if is_granted('ROLE_DESIGNER') %}
            <div class="col-md-5 text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFolderModal">
                    <i class="fa fa-plus"></i> Dossier
                </button>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPhotoModal">
                    <i class="fa fa-plus"></i> Images
                </button>
                <a id="alertClient" class="btn-info btn">
                    <i class="fa fa-info"> Informer le client</i>
                </a>
            </div>
        {% endif %}
    </div>

    {#modal add folder#}
    <div class="modal fade" id="addFolderModal"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-success">{{ button_label|default('Confimer') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {#modal add photos#}
    <div class="modal fade" id="addPhotoModal" aria-labelledby="addPhotoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(formPhoto) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_widget(formPhoto) }}
                    <div class="gallery"></div>

                    <a class="btn btn-danger btn-sm clearFiles">Clear files</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-success">{{ button_label|default('Confimer') }}</button>
                    {{ form_end(formPhoto) }}
                </div>
            </div>
        </div>
    </div>

    {#Folders#}
    <div class="stage">

        <div class="folder-wrap level-current scrolling">
            {% for folder in childrens %}
                <a href="{{ path('folder_show', {'id': folder.id}) }}" class="tile folder">
                    <div>
                        <i class="fa fa-folder"></i>
                        <h3>{{ folder.name }}</h3>
                        <p>{{ folder.description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {#Images#}
    <div class="stage" style="display: flex;">
        {% for img in images %}
            <a class="example-image-link tile form"
               href="{{ asset('/folders/images/'~ img.imageName) }}"
               data-lightbox="example-set"
               data-title='<a href="{{ path('show_image', {'id': img.id}) }}">Consulter</a>
                            {% if is_granted('ROLE_DESIGNER') %} -
                                 <a href="{{ path('delete_image', {'id' : img.id}) }}" >Supprimer</a>
                            {% endif %}"' >
                <img class="example-image" src="{{ asset('/folders/images/'~ img.imageName) }}" alt=""/>
            </a>
        {% endfor %}
    </div>


{% endblock %}
{% block javascripts %}

    {# add images form#}
    {# preview uploaded images#}
    <script>
        function readURL(input, placeToInsertImagePreview) {
            if (input.files) {
                var filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img>'))
                            .attr('src', event.target.result)
                            .attr('class', 'imagesPreview')
                            .appendTo(placeToInsertImagePreview);
                    };

                    reader.readAsDataURL(input.files[i]);
                }
            }
        }

        $("#image_images").change(function () {
            $("div.gallery").replaceWith('<div class="gallery"></div>');
            readURL(this, 'div.gallery');
        });

    </script>
    <script>
        $('.clearFiles').click(function (evt) {
            $("div.gallery").replaceWith('<div class="gallery"></div>');
        })
    </script>
    <script>

        $('#alertClient').click(function (evt) {
            // alert('clicked');
        {#href="{{ path('alert_client', {'id': folder.id}) }}"#}
            $.ajax({
                type: "post",
                url: '{{ path('alert_client', {'id': folder.id}) }}',
                error: function (response) {
                },
                success: function (response) {
                    console.log("success", response);
                }
            });
        })
    </script>

{% endblock %}
