<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('/stylesheets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/stylesheets/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/stylesheets/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/stylesheets/fontawesome-all.min.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<div class="main-content">
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
</div>

</div>

<script src="{{ asset('/javascripts/popper.min.js') }}"></script>
<script src="{{ asset('/javascripts/jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ asset('/javascripts/bootstrap.min.js') }}"></script>
<script src="{{ asset('/javascripts/datatables.js') }}"></script>
<script src="{{ asset('/javascripts/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('/lightbox/dist/js/lightbox-plus-jquery.min.js' ) }}"></script>
<script src="{{ asset('/javascripts/jquery-3.4.1.min.js') }}'"></script>
<script src="{{ asset('/javascripts/jquery.md5.js') }}"></script>
</body>
{% block javascripts %}{% endblock %}
</html>
