{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="row" style="padding-bottom: 50px">
        <div class="col-md-9">
            <h2><b>Liste des projets </b></h2>
            <h4>Client : {{ client.username }} </h4>
        </div>
        {% if is_granted('ROLE_DESIGNER') %}
        <div class="col-md-3 text-right">
            <button type="button" class="btn  btn-sm btn-primary" data-toggle="modal" data-target="#addProjectModal">
                <i class="fa fa-plus"></i> Ajouter
            </button>
            <a class="btn btn-sm btn-secondary" href="{{ path('homepage') }}">
                <i class="fa fa-backward"></i> Retour à la liste
            </a>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="addProjectModal"
         aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(form) }}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button class="btn btn-success">{{ button_label|default('Confimer') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive" style="overflow: hidden; outline: none;">
        <div id="table-files_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="table-files" class="table table-striped table-hover dataTable no-footer" role="grid"
                           aria-describedby="table-files_info">
                        <thead>
                        <tr role="row">
                            <th class="" style="width: 15px;">Type
                            </th>
                            <th class="" style="width: 250px;">Name
                            </th>
                            <th class="" style="width: 100px;">Date de création
                            </th>
                            <th class="" style="width: 100px;">Date d'écheance
                            </th>
                            {% if is_granted('ROLE_DESIGNER') %}
                            <th class="" style="width: 100px;">Etat</th>
                            {% endif %}
                            <th style="width: 120px;">Client
                            </th>
                            <th style="width: 66px;">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}

                            <tr role="row" class="odd">
                                <td class="">
                                    <figure class="avatar avatar-sm mr-3">
                                            <span class="avatar-title rounded-pill">
                                                <i class="ti-image"></i>
                                                {#<i class="ti-folder"></i>#}
                                           </span>
                                    </figure>
                                </td>
                                <td>
                                    <a href="{{ path('project_show', {'id': project.id}) }}"
                                       class="d-flex align-items-center">
                                         <span class="d-flex flex-column">
                                            <span class="text-primary">{{ project.name }}</span>
                                            <span class="small font-italic">{{ project.createdBy.username }}</span>
                                        </span>
                                    </a>
                                </td>
                                <td>{{ project.createdAt | date('m/d/Y') }}</td>
                                <td>{{ project.createdAt | date('m/d/Y') }}</td>
                                {% if is_granted('ROLE_DESIGNER') %}
                                <td class="sorting_1">
                                    {% if project.seen == true %}
                                        <div class="badge bg-success-bright text-success">
                                            <i class="fa fa-2x  fa-eye"></i>
                                        </div>
                                    {% else %}
                                        <div class="badge bg-danger-bright text-danger">
                                            <i class="fa fa-2x fa-eye-slash"></i>
                                        </div>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>
                                    {{ project.client.username }}
                                </td>
                                <td class="btn-group">
                                    <a href="{{ path('project_edit', {'id': project.id}) }}"
                                       class="btn btn-sm bg-warning"><i class="fa fa-pencil"></i> </a>&nbsp
                                    <a onclick="return confirm('Are you sure you want to delete this item?');"
                                       href="{{ path('project_delete', {'id': project.id}) }}"
                                       class="btn btn-sm btn-danger"><i class="fa fa-1x fa-trash"></i> </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#table-files').DataTable();
    </script>
{% endblock %}